<mat-card>

  <mat-card-header>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="Topic, name, theme"
             [(ngModel)]="todoItem.name">
    </mat-form-field>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Leave a note</mat-label>
      <textarea
        matInput placeholder="..."
        [(ngModel)]="todoItem.description"
        class="todo-description"
      ></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="saveItem()">Save</button>
    <button mat-button (click)="archiveItem()">Archive</button>
    <button mat-button (click)="deleteItem()">Delete</button>
  </mat-card-actions>

  <mat-card-footer>
    <span>edited at: {{todoItem.editedAt | date: 'short' }}</span>
  </mat-card-footer>

</mat-card>
